@model Models.User

@{
    ViewBag.Title = @Resources.General.InfoUsers;
}


<div>
    <h4>@Resources.General.InfoUsers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCreate)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-sm-12 links">
        @Html.ActionLink("Edit", MVC.Users.Edit(Model.Id)) |
        @Html.ActionLink("Details", MVC.Users.Details(Model.Id)) |
        @Html.ActionLink("Delete", MVC.Users.Delete(Model.Id))
       </div>
    </div>
