@model IEnumerable<Models.Factor>

@{
    List<Models.Config> config = ViewBag.Config;

    string IsMaxEnable = config.Where(C => C.Name == "maxenable").FirstOrDefault().Value;
    string Maxvalue = config.Where(C => C.Name == "maxvalue").FirstOrDefault().Value;
    int MaxOrder = Convert.ToInt32(config.Where(C => C.Name == "maxorder").FirstOrDefault().Value);

    var serche = ViewBag.Serche as ViewModels.Watch.FactorViewModel;
    if (serche == null)
    {
        serche = new ViewModels.Watch.FactorViewModel();

    }
    var ListUsername = ViewBag.FirstOrder as string[];
    Int64 Sum = 0;
    Int64 temp = 0;
    ViewBag.Title = "Watch";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .solid {
            transition-delay: 0s;
            transition: transform 200ms,background-color 4s;
            transition-timing-function: ease-in-out;
        }

        .solidanimation {
            transform: scaleX(1.1);
            background-color: #dc3545;
        }

        .bg-success .table {
            color: white;
        }
    </style>
</head>
<body onload="JavaScript:timedRefresh(50000);">
    <br />
    <form method="post">
        <button class="btn btn-primary ">بروز رسانی</button>
        <br />
        <br />

        @if (serche.approved == "1")
        {
            <input type="checkbox" class="checkbox" name="approved" id="approved" value="1" checked="checked" />
        }
        else
        {
            <input type="checkbox" class="checkbox" name="approved" id="approved" value="1" />

        }
        <label>فقط سفارش های بررسی نشده</label>

        <div class="row">

            <div class="col-sm-3">
                <input class="form-control text-box single-line" type="text" name="username" id="username" value="@serche.UserName" placeholder="نام کاربری" />
            </div>
            <div class="col-sm-3">
                <input class="form-control text-box single-line" type="text" name="mobile" id="mobile" value="@serche.Mobile" placeholder="تلفن همراه" />
            </div>
            <div class="col-sm-3">
                <input class="form-control text-box single-line" type="text" name="address" id="address" value="@serche.Address" placeholder="آدرس" />
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary btn-block">جستجو</button>
            </div>

        </div>
    </form>
    <hr />
    <br />

    <div id="app" class="card-columns">
        @foreach (var fac in Model)
        {
            temp = 0;
            Sum = 0;
            if (fac.approved == 0)
            {
                <div id="@fac.Id" class="card solid mb-3" style="max-width: 22rem;">

                    <div class="card-header">
                        @if (ListUsername != null)
                        {
                            if (!ListUsername.Contains(fac.UserName))
                            {
                        <h5 class="card-title" style="color:red"> اولین بار</h5>
                            }
                        }
                        <h5 class="card-title"> @fac.UserName</h5>
                        <h5 class="card-title"> @fac.Date.TimeOfDay.ToString().Substring(0, 8)</h5>
                        <h5 class="card-title"> موبایل: @fac.Mobile</h5>
                        <h5 class="card-title">آدرس: @fac.Address</h5>
                        <h5 class="card-title">توضیحات: @fac.Description</h5>
                        <span>پیام شما به مشتری:</span>
                        <input ma="@fac.Id" class="messageadmin" type="text" name="messageadmin" value=" " />

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table  table-bordered table-striped table-hover table-sm">
                                    <tr>

                                        <th>نام</th>
                                        <th>قیمت</th>
                                        <th>تعداد</th>

                                        <th>جمع</th>
                                    </tr>
                                    @foreach (var facDetails in fac.FactorDetails)
                                    {

                                    <tr>
                                        @{

                                                temp = facDetails.Price * facDetails.Count;
                                                Sum = Sum + temp;
                                        }
                                        <td>@facDetails.Name</td>
                                        <td>@facDetails.Price.ToString("#,##0 ")</td>
                                        <td>@facDetails.Count</td>

                                        <td>@temp.ToString("0#,##0 ")</td>


                                    </tr>
                                     }
                                    <tr>

                                        @if (IsMaxEnable == "1" && Sum < MaxOrder)
                                    {
                                        <td colspan="3">جمع کل با هزینه پیک</td>
                                        Sum = Sum + Convert.ToInt32(Maxvalue);
                                        <td>@Sum.ToString("0#,##0 ")</td>
                                    }
                                    else
                                    {
                                        <td colspan="3">جمع کل </td>
                                        <td>@Sum.ToString("0#,##0 ")</td>
                                    }
                                    </tr>
                                </table>

                                <button id="@fac.Id" ma="@fac.Id" type="button" class="btn btn-primary btn-block btn-approve">تایید</button>

                                <button id="@fac.Id" ma="@fac.Id" type="button" class="btn btn-danger btn-block btn-cancel">عدم تایید</button>

                            </div>

                        </div>
                    </div>
                </div>
                                            }
                                            if (fac.approved == 1)
                                            {
                                                <div class="card text-white bg-success mb-3" style="max-width: 22rem;">

                                                    <div class="card-header">
                                                        <h5 class="card-title"> @fac.UserName</h5>
                                                        <h5 class="card-title"> @fac.Date.TimeOfDay.ToString().Substring(0, 8)</h5>
                                                        <h5 class="card-title"> موبایل: @fac.Mobile</h5>
                                                        <h5 class="card-title">آدرس: @fac.Address</h5>
                                                        <h5 class="card-title">توضیحات: @fac.Description</h5>
                                                        <h5 class="card-title">پیام شما به مشتری: @fac.MessageAdmin</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-12 table-responsive">
                                                                <table class="table" style="color:white">
                                                                    <tr>
                                                                        <th>نام</th>
                                                                        <th>قیمت</th>
                                                                        <th>تعداد</th>
                                                                        <th>جمع</th>
                                                                    </tr>
                                                                    @foreach (var facDetails in fac.FactorDetails)
                                                                    {
                                                                        <tr>
                                                                            @{

                                                                                temp = facDetails.Price * facDetails.Count;
                                                                                Sum = Sum + temp;
                                                                            }
                                                                            <td>@facDetails.Name</td>
                                                                            <td>@facDetails.Price.ToString("0#,##0 ")</td>
                                                                            <td>@facDetails.Count</td>

                                                                            <td>@temp.ToString("0#,##0 ")</td>


                                                                        </tr>
                                                                                }
                                                                    <tr>
                                                                        @if (IsMaxEnable == "1" && Sum < MaxOrder)
                                                                        {
                                                                            <td colspan="3">جمع کل با هزینه پیک</td>
                                                                            Sum = Sum + Convert.ToInt32(Maxvalue);
                                                                            <td>@Sum.ToString("0#,##0 ")</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td colspan="3">جمع کل </td>
                                                                                <td>@Sum.ToString("0#,##0 ")</td>
                                                                        }
                                                                    </tr>
                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                                                }

                                                                                if (fac.approved == 2)
                                                                                {
                                                                                    <div class="card text-white bg-danger mb-3" style="max-width: 22rem;">

                                                                                        <div class="card-header">
                                                                                            <h5 class="card-title"> @fac.UserName</h5>
                                                                                            <h5 class="card-title"> @fac.Date.TimeOfDay.ToString().Substring(0, 8)</h5>
                                                                                            <h5 class="card-title"> موبایل: @fac.Mobile</h5>
                                                                                            <h5 class="card-title">آدرس: @fac.Address</h5>
                                                                                            <h5 class="card-title">توضیحات: @fac.Description</h5>
                                                                                            <h5 class="card-title">پیام شما به مشتری: @fac.MessageAdmin</h5>
                                                                                        </div>
                                                                                        <div class="card-body">
                                                                                            <div class="row">
                                                                                                <div class="col-12 table-responsive">
                                                                                                    <table class="table" style="color:white">
                                                                                                        <tr>
                                                                                                            <th>نام</th>
                                                                                                            <th>قیمت</th>
                                                                                                            <th>تعداد</th>
                                                                                                            <th>جمع</th>
                                                                                                        </tr>
                                                                                                        @foreach (var facDetails in fac.FactorDetails)
                                                                                                        {
                                                                                                            <tr>
                                                                                                                @{

                                                                                                                    temp = facDetails.Price * facDetails.Count;
                                                                                                                    Sum = Sum + temp;
                                                                                                                }
                                                                                                                <td>@facDetails.Name</td>
                                                                                                                <td>@facDetails.Price.ToString("0#,##0 ")</td>
                                                                                                                <td>@facDetails.Count</td>

                                                                                                                <td>@temp.ToString("0#,##0 ")</td>


                                                                                                            </tr>
                                                                                                                    }
                                                                                                        <tr>
                                                                                                            @if (IsMaxEnable == "1" && Sum < MaxOrder)
                                                                                                            {
                                                                                                                <td colspan="3">جمع کل با هزینه پیک</td>
                                                                                                                Sum = Sum + Convert.ToInt32(Maxvalue);
                                                                                                                <td>@Sum.ToString("0#,##0 ")</td>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <td colspan="3">جمع کل </td>
                                                                                                                    <td>@Sum.ToString("0#,##0 ")</td>
                                                                                                            }
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                                                        }

                                                                                                                    }
    </div>
    <div class="scrollingContainer">

    </div>
    <script src="~/js/Watch/Index.js"></script>
</body>
</html>
