<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="@Links.scripts.vue_js"></script>
    <script src="@Links.scripts.axios_js"></script>
    <link href="@Links.Content.bootstrap_min_css" rel="stylesheet" />
    <script src="@Links.scripts.jquery_3_4_1_min_js"></script>
    <script src="@Links.scripts.bootstrap_min_js"></script>
    <link src="@Links.Content.bootstrap_theme_min_css">
    <link href="@Links.Content.bootstrap_rtl_css" rel="stylesheet" />
    <script src="@Links.scripts.jquery_validate_vsdoc_js"></script>
    <script src="@Links.scripts.jquery_validate_min_js"></script>
    <script src="@Links.scripts.jquery_validate_unobtrusive_min_js"></script>
    <script src="@Links.scripts.modernizr_2_6_2_js"></script>
    <link src="@Links.Content.glyphicons_halflings_regular_ttf">


    <script src="~/js/hjcomponent.js"></script>
    <style>
        .dropdown-item{
            text-align:right;
        }
        .nav-link {
            color: white !important;
        }
    </style>
    <link href="@Links.Content.Site_css" rel="stylesheet" type="text/css" />

    <title>@ViewBag.Title | ساندویج طاها</title>

</head>

<body>
    <div class="container">
       
        <div class="row">
            <div class="col-sm-11">
                <span>کاربر جاری:</span>
                <h5 style="display:inline;color:blue">  @User.Identity.Name</h5>
            </div>
            <div class="col-sm-1">   <h6 style="color:blue">@Html.ActionLink(Resources.General.Logout, MVC.Account.Logout(), MVC.Account.Name)</h6></div>
        </div>

        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/Image/la.png" alt="Los Angeles">

                </div>
                <div class="carousel-item">
                    <img src="~/Content/Image/chicago.png" alt="Chicago">
                </div>
          
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand -->
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Users/Create">عضویت/ثبت نام</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Account/Login">ورود</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Order/OrederCustomer">ثبت سفارش</a>
                </li>





                @if (User.Identity.Name == "AdminAdmin")
                {

                    <li class="nav-item dropdown" style="direction:ltr">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            مدیریت
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Order/Create">ایجاد منو غذا</a>
                            <a class="dropdown-item" href="/Order/Index">لیست غذا ها</a>
                            <a class="dropdown-item" href="/Report/Index">گزارش سفارشها</a>
                            <a class="dropdown-item" href="/Watch/Index">سفارش ها امروز</a>
                            <a class="dropdown-item" href="/Users/index">ویرایش اطلاعات کاربران</a>
                            <a class="dropdown-item" href="/Configs/index">تنظیمات</a>
                        </div>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="/About/Index">درباره ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" /About/HamidJalalat">ارتباط با برنامه نویس</a>
                </li>
               
            </ul>
        </nav>


    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>