@model IEnumerable<ViewModels.RegisterOrder.RegisterOrderViewModel>

@{ 
    Int64 SumTotal = 0;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ثبت نهایی</title>
    <style>
        
        .image {
            width: 100px;
            background-color:#ffffff;
            transition-delay: 0s;
            transition-duration: 200ms;
            transition-property:  transform;
            transition-timing-function: ease-in-out;
        }

        .image:hover {
                transform: scale(2);
            }
    </style>
</head>
<body>
    <br />
    <table class="table " >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.count)
            </th>
            <th>
               جمع
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>


            <th>

            </th>

        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <label>@item.Price.ToString("#,##0 ")</label>
       
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count)
        </td>
        <td>

            @{
                int Total = item.Price * item.count;
                SumTotal = SumTotal + Total;
                <span>@Total.ToString("#,##0 ")</span>

            }
         
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>


        <td>
            <img src="@item.Image_url" class="image" alt="عکس" />

        </td>

    </tr>
        }
        

    </table>
    <label>قابل پرداخت...................</label>
    <label>@SumTotal.ToString("#,##0 ")</label>

    <br />
    <br />
    @Html.ActionLink("ثبت نهایی","RegisterFactor",null,new {@class="btn btn-primary" })
    <br />
    <br />
    <a href="/Order/OrederCustomer">اصلاح سفارش</a>
</body>
</html>
